<h1><%= t(:edit_task_page) %></h1>

<%= form_with model: @task, local: true do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, t(:title_label) %>
    <%= form.text_field :title, id: "task_title" %>
    <% @task.errors[:title].each do |error| %>
      <span class="field-error"><%= error %></span>
    <% end %>
  </div>

  <div>
    <%= form.label :content, t(:content_label) %>
    <%= form.text_area :content, id: "task_content" %>
    <% @task.errors[:content].each do |error| %>
      <span class="field-error"><%= error %></span>
    <% end %>
  </div>

  <div>
    <%= form.submit t(:update_task) %>
  </div>
<% end %>

<%= link_to t(:back), @task, class: 'back' %>