<h1><%= t('tasks.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('tasks.index.headers.title') %></th>
      <th><%= t('tasks.index.headers.content') %></th>
      <th><%= t('tasks.index.headers.created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task-row">  <!-- Add class if needed for eval -->
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= l(task.created_at, format: :short) %></td>  
        <td>
          <%= link_to t('tasks.index.show'), task, class: 'show-task' %>
          <%= link_to t('tasks.index.edit'), edit_task_path(task), class: 'edit-task' %>
          <%= link_to t('tasks.index.destroy'), task, method: :delete, data: { confirm: t('tasks.index.confirm') }, class: 'destroy-task' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>  <!-- For pagination below -->