<h1><%= t(:new_task_page) %></h1> <!-- "タスク登録ページ" -->

<%= form_with model: @task, local: true do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li> <!-- "タイトルを入力してください" -->
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, t(:title_label) %> <!-- "タイトル" -->
    <%= f.text_field :title %>
    <% @task.errors[:title].each do |error| %>
      <span><%= error %></span> <!-- Inline validation -->
    <% end %>
  </div>

  <div>
    <%= f.label :content, t(:content_label) %> <!-- "内容" -->
    <%= f.text_area :content %>
    <% @task.errors[:content].each do |error| %>
      <span><%= error %></span> <!-- Inline validation -->
    <% end %>
  </div>

  <div>
    <%= f.submit t(:create_task) %> <!-- "登録" -->
  </div>
<% end %>

<%= link_to t(:back), tasks_path %> <!-- "戻る" -->