<h1>New Task Page</h1>

<%= form_with model: @task, local: true do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Title Title", id: "title-label" %>
    <%= form.text_field :title %>
    <% if @task.errors[:title].any? %>
      <span class="field-error"><%= @task.errors[:title].join(', ') %></span>
    <% end %>
  </div>

  <div>
    <%= form.label :content, "Content", id: "content-label" %>
    <%= form.text_area :content %>
    <% if @task.errors[:content].any? %>
      <span class="field-error"><%= @task.errors[:content].join(', ') %></span>
    <% end %>
  </div>

  <div>
    <%= form.submit "Create Task", id: "create-task" %>
  </div>
<% end %>

<%= link_to "Back", tasks_path, id: "back" %>